<div class="col-lg-5">
	<%= form_for @product_spec do |f| %>
		<h2 class="">Product Series and Name</h2>
		<div class="form-group">
			<%= f.label "Which series does this product belong to?" %>
		    <%= f.select :product_series, options_for_select(@rn_product_series) , :class => "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label "What is the name/sku of this product?" %>
		    <%= f.text_field :sku,:class => "form-control"%>
		</div>
		<%= f.submit "Update Spec Sheet", :class => "btn btn-default" %>
	<% end %>
</div>