<!doctype html>
<html>
    <head>
        <meta charset='utf-8' />
        <%= wicked_pdf_stylesheet_link_tag "pdf"%>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:900,400,700,300,500|Roboto+Condensed:400,300,700" %>
    </head>
    <body class="<%=pdf_view%>" data-no-turbolink="true">
        <div class="pdf_content">
            <% if @rendered_as=="html" %>
                <br><br>
                <%= render "product_specs/pdf_parts/header.html.erb"%>
            <% end %>
            <div id="content">
                <%= render "product_specs/pdf_parts/page_1.html.erb"%>
                <div class="pagebreak"></div>
                <%= render "product_specs/pdf_parts/page_2.html.erb"%>
            </div>
        </div>
    </body>
</html>