<!doctype html>
<html>
    <head>
        <meta charset='utf-8' />
        <%= wicked_pdf_stylesheet_link_tag "pdf"%>
        <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:900,400,700,300,500|Roboto+Condensed:400,300,700" %>
    </head>
    <body class="<%=pdf_view%>">
        <div class="pdf-content">
            <div id="content">
                <br>
                <%= render "product_specs/pdf_parts/pdf_main_table_portion.html.erb"%>
                <br>
                <div class="left_side">
                    <%= render "product_specs/pdf_parts/dvr_info_table.html.erb"%>
                    <%= render "product_specs/pdf_parts/recording_resolutions_options.html.erb"%>
                    <%= render "product_specs/pdf_parts/recording_modes.html.erb"%>
                    <%= render "product_specs/pdf_parts/playback_on_dvr.html.erb"%>
                    <%= render "product_specs/pdf_parts/remote_monitoring.html.erb"%>
                </div>
                <div class="right_side">
                    <%= render "product_specs/pdf_parts/compatibility.html.erb"%>
                    <%= render "product_specs/pdf_parts/compatibility.html.erb"%>
                </div>
                <div class="pagebreak"></div>
            </div>
        </div>
    </body>
</html>