<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header">Create a Product Spec</h2>
		</div>
		<%= form_for @product_spec do |f| %>
			<div class="form-group panel-body">
				<table class="table">
					<caption>What type of device are you creating a spec sheet for?</caption>
				</table>
			    <%= f.select :product_type, options_for_select(@rn_product_types),{}, {:class => "form-control"}%>
			    <br>
				<%= f.submit "Create Spec Sheet", :class => "btn btn-default small" %>
		    </div>
		<% end %>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header">Duplicate a Product Spec</h2>
		</div>

		<%= form_tag("/duplicate", method: "post") do %>
			<div class="form-group panel-body">
				<table class="table">
					<caption>Which spec sheet would you like to duplicate?</caption>
				</table>
		  		
		  	    <%= select_tag(:product_to_copy, options_for_select(@product_specs.map{|ps|ps.sku}), {:class => "form-control"})%>
			    <table class="table">
					<caption>What is the name of product?</caption>
				</table>
			 	<%= text_field_tag(:sku,"",{:class => "form-control"}) %>
			 	<br>
		  		<%= submit_tag("Duplicate Spec Sheet", :class => "btn btn-default small") %>
			    <br>
		    </div>
		<% end %>
	</div>
</div>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header">Product Specs</h2>
		</div>
		<div class="panel-body">
			<table class="table" id="main_table">
				<caption>Here is a list of product specification sheets</caption>
				<thead>
					<tr>
						<th>Model</th> 
						<th>Edit Link</th> 
						<th>HTML Link</th> 
						<th>PDF Link</th> 
					</tr> 
				</thead> 
				<tbody>  
					<% @product_specs.each do |product_spec|%>
						<tr>
							<th class="table_links"><%= product_spec.sku_or_nil%></th>
							<th class="table_links"><%= link_to "Edit", edit_product_spec_path(product_spec)%></th>
							<th class="table_links"><%= link_to "HTML", product_spec_path(product_spec)%></th>
							<th class="table_links"><%= link_to raw(pdf_icon), product_spec_path(product_spec, {format: :pdf})%></th>
						</tr>
					<% end %>
				</tbody> 
			</table>
		</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header">Create a Product in RightNow</h2>
		</div>
		<%= form_tag("/create_in_rn", method: "post") do %>
			<div class="form-group panel-body">
				<table class="table">
					<caption>What type of device do you need to create in RightNow?</caption>
				</table>
			    <%= select_tag :product_type, options_for_select(@rn_product_types),{:class => "form-control"}%>
			    <br>
				<%= submit_tag "Create Product", :class => "btn btn-default small" %>
		    </div>
		<% end %>
	</div>
</div>