<br>
<div class="dvr_info">
    <%= render "product_specs/pdf_parts/page_1/pdf_main_table_portion.html.erb"%>
    <%= image_tag @product_spec.front_panel.url %>
</div>
<br>
<div class="left_side">
    <%= render "product_specs/pdf_parts/page_1/dvr_info_table.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/recording_resolutions_options.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/recording_modes.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/playback_on_dvr.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/remote_monitoring.html.erb"%>
</div>
<div class="right_side">
    <%= render "product_specs/pdf_parts/page_1/compatibility.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/video_audio_alarm_ports.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/communication_ports.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/accessories.html.erb"%>
    <% if @rendered_as == 'html'%>
	    <%= render "product_specs/pdf_parts/page_2/power.html.erb"%>
	    <%= render "product_specs/pdf_parts/page_2/physical.html.erb"%>
	<% end %>
</div>