<div class="panel-heading">
	<h2 class="header">Power Supply</h2>
</div>
<div class="panel-body">
	<%= form_for @product_spec do |f| %>
		<div class="form-group">
			<%= f.label "What type of power supply is used by this product?" %>
		    <%= f.text_field :power_supply,:class => "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label "What is the power consumption used by this product?" %>
		    <%= f.text_field :power_consumption,:class => "form-control"%>
		</div>
		<%= f.submit "Update Spec Sheet", :class => "btn btn-default" %>
	<% end %>
</div>