<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Additional Image Features</th>
  </tr>
  <tr>
    <th>Auto Iris</th><td><%= %></td>
  </tr>
  <tr>
    <th>On Screen Display</th><td><%= %></td>
  </tr>
  <tr>
    <th>Backlight Compensation</th><td><%= %></td>
  </tr>
  <tr>
    <th>Electronic Shutter</th><td><%= %></td>
  </tr>
  <tr>
    <th>Gain Control</th><td><%= %></td>
  </tr>
  <tr>
    <th>Wide Dynamic Range</th><td><%= %></td>
  </tr>
  <tr>
    <th>Noise Reduction</th><td><%= %></td>
  </tr>
</table> 