<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Additional Image Features</th>
  </tr>
  <tr>
    <th>Auto Iris</th><td><%= @product_spec.auto_iris %></td>
  </tr>
  <tr>
    <th>On Screen Display</th><td><%= @product_spec.on_screen_display %></td>
  </tr>
  <tr>
    <th>Backlight Compensation</th><td><%= @product_spec.backlight_compensation %></td>
  </tr>
  <tr>
    <th>Electronic Shutter</th><td><%= @product_spec.electronic_shutter %></td>
  </tr>
  <tr>
    <th>Gain Control</th><td><%= @product_spec.gain_control %></td>
  </tr>
  <tr>
    <th>Wide Dynamic Range</th><td><%= @product_spec.wide_dynamic_range %></td>
  </tr>
  <tr>
    <th>Noise Reduction</th><td><%= @product_spec.noise_reduction %></td>
  </tr>
</table> 