<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Night Vision</th>
  </tr>
  <tr>
    <th>IR LEDS</th><td><%= %></td>
  </tr>
  <tr>
    <th>Infrared Wavelength</th><td><%= %></td>
  </tr>
  <tr>
    <th>Min Lux Illumination</th><td><%= %></td>
  </tr>
  <tr>
    <th>Night Vision Range</th><td><%= %></td>
  </tr>
</table> 