<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">
      <%=raw link_to_edit({:ra => @rendered_as,:ps =>@product_spec, :t => "product_specs/product_specs_form/camera_form/night_vision",:v => "Night Vision"})%>
    </th>
  </tr>
  <tr>
    <th>IR LEDS</th><td><%= @product_spec.ir_leds%></td>
  </tr>
  <tr>
    <th>Infrared Wavelength</th><td><%= @product_spec.ir_wavelength%></td>
  </tr>
  <tr>
    <th>Min Lux Illumination</th><td><%= @product_spec.lux_leds%></td>
  </tr>
  <tr>
    <th>Night Vision Range</th><td><%= @product_spec.night_vision_range_in_feet%></td>
  </tr>
</table> 