<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Night Vision</th>
  </tr>
  <tr>
    <th>Control</th><td><%= %></td>
  </tr>
  <tr>
    <th>Connectors/Cables</th><td><%= %></td>
  </tr>
  <tr>
    <th>Mounting Hardware</th><td><%= %></td>
  </tr>
  <tr>
    <th>Other</th><td><%= %></td>
  </tr>
</table> 