<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Physical Attributes</th>
  </tr>
  <tr>
    <th>Weatherproof</th><td><%= %></td>
  </tr>
  <tr>
    <th>IP Rating</th><td><%= %></td>
  </tr>
  <tr>
    <th>Body Construction</th><td><%= %></td>
  </tr>
  <tr>
    <th>Mounting Hardware</th><td><%= %></td>
  </tr>
  <tr>
    <th>Weight</th><td><%= %></td>
  </tr>
  <tr>
    <th>Dimensions without bracket</th><td><%= %></td>
  </tr>
  <tr>
    <th>Dimensions with bracket</th><td><%= %></td>
  </tr>
  <tr>
    <th>Operating Temperature</th><td><%= %></td>
  </tr>
</table> 