<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">
      <%=raw link_to_edit({:ra => @rendered_as,:ps =>@product_spec, :t => "product_specs/product_specs_form/camera_form/physical_attributes",:v => "Physical Attributes"})%>
    </th>
  </tr>
  <tr>
    <th>Weatherproof</th><td><%=@product_spec.weather_proof %></td>
  </tr>
  <tr>
    <th>IP Rating</th><td><%=@product_spec.ip_rating_flat %></td>
  </tr>
  <tr>
    <th>Body Construction</th><td><%=@product_spec.body_construction %></td>
  </tr>
  <tr>
    <th>Mounting Hardware</th><td><%=@product_spec.mounting_hardware_options %></td>
  </tr>
  <tr>
    <th>Weight</th><td><%=@product_spec.weight %></td>
  </tr>
  <tr>
    <th>Dimensions without bracket</th><td><%=@product_spec.dimensions %></td>
  </tr>
  <tr>
    <th>Dimensions with bracket</th><td><%=@product_spec.dimension_with_bracket %></td>
  </tr>
  <tr>
    <th>Operating Temperature</th><td><%=@product_spec.operating_temperature %></td>
  </tr>
</table> 