<br>
<table class="main smaller">
  <tbody>
    <tr class="first">
      <strong><th colspan="3" class="special_header <%= @product_spec.technology%>">
        <%=raw link_to_edit({:ra => @rendered_as,:ps =>@product_spec, :t => "product_specs/product_specs_form/recorder_form/basic_dvr_info",:v => @v})%>
        </th></strong>
    </tr>
    <% @product_spec.display_resolution.each_with_index do |r,i|%>
      <% if i == 0 && r!=""%>
        <tr>
          <th>Playback Speed</th><td><%=r%> at 30 FPS per Channel</td><th>240 FPS Total</th>
        </tr>      
      <% end %>
    <% end %>
    <% @product_spec.display_resolution.each_with_index do |r,i|%>
      <% if i > 0 && r!=""%>
        <tr>
          <th></th><td><%=r%> at 30 FPS per Channel</td><th>240 FPS Total</th>
        </tr>      
      <% end %>
    <% end %>
    <tr>
      <th>Number of Channels</th><td><%= @product_spec.channels.to_s+" Simultaneous Local Playback"%></td><th></th>
    </tr>
  </tbody>
</table>