<div class="panel-heading">
	<h2 class="header">Communication Ports</h2>
</div>
<div class="panel-body">
	<%= form_for @product_spec do |f| %>
		<div class="form-group">
			<%= f.label :network_ports, 'What are the Mbps capabilities of the RJ45 adapter?' %>
			<%= f.select(:network_ports, @network_ports,{},{ :multiple => true, :size => @network_ports.size,:class =>"form-control"}) %>
		</div>
		<div class="form-group">
			<%= f.label "What are the USB ports supported by this product?" %>
		    <%= f.text_field(:usb_ports,:value =>@product_spec.usb_support) %>
		</div>
		<div class="form-group">
			<%= f.label :e_sata, "What type of eSATA support is provided by this product?" %>
		    <%= f.text_field(:e_sata,:value=>@product_spec.e_sata_support) %>
		</div>
		<%= f.submit "Update Spec Sheet", :class => "btn btn-default" %>
	<% end %>
</div>