<div class="col-lg-5">
	<%= form_for @product_spec do |f| %>
		<h2 class="">PTZ</h2>
		<div class="form-group">
			<%= f.label :ptz_support, "How is the PTZ connected to the product?" %>
		    <%= f.text_field :ptz_support,:class => "form-control"%>
		</div>
		<div class="form-group">
			<%= f.label :ptz_protocols, 'Which of the following PTZ Protocols are supported?' %>
			<%= f.select(:ptz_protocols, @ptz_protocols,{},{ :multiple => true, :size => @ptz_protocols.size,:class =>"form-control"}) %>
		</div>
		<%= f.submit "Update Spec Sheet", :class => "btn btn-default" %>
	<% end %>
</div>