<div class="dvr_info">
    <%= render "product_specs/pdf_parts/page_1/camera/pdf_main_table_portion.html.erb"%>
</div>
<%= if @rendered_as == 'pdf'  then raw '<br>' end%>
<div class="left_side">
	<%= render "product_specs/pdf_parts/page_1/camera/night_vision.html.erb"%>
	<%= render "product_specs/pdf_parts/page_1/camera/additional_image_features.html.erb"%>
	<%= render "product_specs/pdf_parts/page_1/camera/remote_monitoring.html.erb"%>
	<%= render "product_specs/pdf_parts/page_1/camera/physical_attributes.html.erb"%>    
</div>
<div class="right_side">
    <%= render "product_specs/pdf_parts/page_1/camera/ptz.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/camera/audio.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/camera/connectivity.html.erb"%>
    <%= render "product_specs/pdf_parts/page_1/camera/power.html.erb"%>
</div>