<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Video, Audio & Alarm Ports</th>
  </tr>
  <tr>
    <th>Video In</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Video Out</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Alarm In</th><td><%= @product_spec.computer_support_list%></td>
  </tr>
  <tr>
    <th>Alarm Out</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Audio In</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Audio Out</th><td><%= @product_spec.computer_support_list%></td>
  </tr>
</table>