<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Video, Audio & Alarm Ports</th>
  </tr>
  <tr>
    <th class="smaller">Video In</th><td><%= @product_spec.video_in_tech%></td>
  </tr>
  <tr>
    <th class="smaller">Video Out</th><td><%= @product_spec.monitor_connections%></td>
  </tr>
  <tr>
    <th class="smaller">Alarm In</th><td><%= @product_spec.alarm_in%></td>
  </tr>
  <tr>
    <th class="smaller">Alarm Out</th><td><%= @product_spec.alarm_out%></td>
  </tr>
  <tr>
    <th class="smaller">Audio In</th><td><%= @product_spec.audio('audio_in')%></td>
  </tr>
  <tr>
    <th class="smaller">Audio Out</th><td><%= @product_spec.audio('audio_out')%></td>
  </tr>
</table>