<div class="col-lg-4"></div>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header">Create a Product in RightNow</h2>
		</div>
		<%= form_tag("/create_in_rn", method: "post", :multipart => true) do %>
			<div class="form-group panel-body">			    
			    <div class="form-group">
			    	<table class="table">
						<caption>Which series does this product belong to?</caption>
					</table>
				    <%= select_tag :product_series, options_for_select(@rn_product_series),{:class => "form-control",:id => "PRODUCT_SELECT"}%>
				</div>
				<div class="form-group">
					<table class="table">
						<caption>What is the name/sku of this product?</caption>
					</table>
				    <%= text_field_tag :rn_sku,@rn_product_series.first.split(" ").first,{:class => "form-control",:id => "TEXT_FIELD"}%>
				</div>
				<div class="form-group">
					<table class="table">
						<caption>200px by 200px jpg Image</caption>
					</table>
					<%= file_field_tag 'upload[file]' ,{:class => "form-control"} %>
				</div>
			    <br>
				<%= submit_tag "Create Product", :class => "btn btn-default small" %>
		    </div>
		<% end %>
	</div>
</div>
<div class="col-lg-4"></div>


<script type="text/javascript">
	(() => {
		const PRODUCT_SELECT = document.getElementById("PRODUCT_SELECT");
		const TEXT_FIELD = document.getElementById("TEXT_FIELD");
		const PRODUCT_TYPE = "<%= @pt%>";
		const BROWSER_EVENTS = ["change","DOMContentLoaded"];


		if (PRODUCT_TYPE !== "Accessories"){
			BROWSER_EVENTS.map(be => 
				PRODUCT_SELECT.addEventListener(be,function(){
					let [self,prodVal] = [this,fancyTest => fancyTest == 'Other' ? "So fancy...." : self.value.split(" ")[0]];
					TEXT_FIELD.value = prodVal(self.value.split(" ")[0])  
				})
			)
		}
	})();

</script>